@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
header {
  height: 64px;
}
.header-container {
  height: 64px;
  background-color: #2d384a;
  color: #fff;
  width: 100%;
}
.logo {
  padding: 16px;
  display: inline-block;
  vertical-align: top;
}
.logo img {
  height: 32px;
}

.header-tab {
  float: right;
  cursor: pointer;
  height: 100%;
}
.header-tab .toggle-container {
  padding: 20px 16px;
  display: inline-block;
  position: relative;
}
.header-tab .icon {
  float: left;
  color: #fff;
}
.header-tab .name {
  float: left;
  line-height: 24px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-tab.icon-with-name .icon {
  padding-right: 8px;
}
.header-tab .superscript {
  height: 18px;
  width: 18px;
  background-color: #2d384a;
  border-radius: 9px;
  position: absolute;
  left: 30px;
  top: 10px;
  color: #fff;
  text-align: center;
}
.header-tab .dropdown-menu {
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.20);
  min-width: 180px;
  right: 24px;
  left: auto;
  color: rgba(0, 0, 0, 0.87);
}
.hamburger-menu {
  float: none;
  display: inline-block;
}
